In [26]:
import glob
import os
import pandas as pd
IMG_PATH = "D:\\111project\\github\\041-111project\\data\\CatsandDogs\\train"

cat_imgs = glob.glob(os.path.join(IMG_PATH,"cat*"))
dog_imgs = glob.glob(os.path.join(IMG_PATH,"dog*"))

In [28]:
data_cat = list()
data_dog = list()
data = list()

for img in cat_imgs:
    data_cat.append([img,0,1])
    
for img in dog_imgs:
    data_dog.append([img,1,0])
    
data = data_cat[:1000]+data_dog[:1000]

In [29]:
df = pd.DataFrame(data,columns=["path","dog","cat"])

In [33]:
df.to_csv("D:\\111project\\github\\041-111project\\data\\CatsandDogs\\train.csv",index=False)

In [31]:
df.describe()

               dog          cat
count  2000.000000  2000.000000
mean      0.500000     0.500000
std       0.500125     0.500125
min       0.000000     0.000000
25%       0.000000     0.000000
50%       0.500000     0.500000
75%       1.000000     1.000000
max       1.000000     1.000000